<!DOCTYPE html>
<html>
  <head>
    <title>Police Data</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
  </head>
  <body ng-app="policeData">
  <!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top"  ng-controller="MenuCtrl">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <b>Neighbourhood Crime Monitor</b>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{'active':isActive('/crime-types')}"><a href="#crime-types">Crime Types</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <%= yield %>
    <%= javascript_include_tag 'application'%>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  </body>
</html>
